.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  letter-spacing: 0.1em;
}
p {
  text-align: left;
}
.w-1200 {
  width: 1200px !important;
  margin-left: -120px !important;
}
.min-w-160 {
  min-width: 160px;
}
.min-w-190 {
  min-width: 190px;
}
.margin-left-18 {
  margin-left: 18px !important;
}
.margin-left-52 {
  margin-left: 52px !important;
}
.margin-left-200 {
  margin-left: 200px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.color-red {
  color: red;
}
.color-white {
  color: #fff;
}
.color-blue {
  color: #40a9ff;
}
.color-grey {
  color: #8c8c8c;
}
.right-down-corner {
  position: absolute;
  right: 50px;
  bottom: -500px;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.font-size-30 {
  font-size: 30px !important;
}

/* 隐藏 laydate 时间选择弹窗中的秒选项*/
.laydate-time-list > li {
  width: 50% !important;
}

.laydate-time-list > li:last-child {
  display: none;
}

.laydate-time-list > li > ol > li {
  padding-left: 54px;
}

.laydate-time-list > li > p {
  text-align: center;
}