<div class="row">
  <div class="col-md-5">
    <input class="form-control" type="text" ng-attr-id="{{dateId}}" ng-model="date" ng-disabled="minDate">
  </div>
  <div class="col-md-5">
    <input class="form-control" type="text" ng-attr-id="{{timeId}}" ng-model="time">
  </div>
  <!--<div class="col-md-4 col-xs-4 col-sm-4 padding-left">-->
    <!--<div class="input-group date">-->
      <!--<input class="form-control" type="text" name="startDate" ng-attr-id="{{dateId}}" ng-model="date" ng-disabled="minDate" readonly>-->
      <!--<div class="input-group-btn">-->
        <!--<button class="btn default" type="button" style="border-radius: 0">-->
          <!--<i class="iconfont calendar"></i>-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-4 col-xs-4 col-sm-4 padding-left">-->
    <!--<div class="input-group date">-->
      <!--<input class="form-control" type="text" name="startDate" ng-attr-id="{{timeId}}" ng-model="time" readonly>-->
      <!--<div class="input-group-btn">-->
        <!--<button class="btn default" type="button" style="border-radius: 0">-->
          <!--<i class="iconfont clock"></i>-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
